<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthTrackerApp"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AddWorkoutLogActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.EditWorkoutLogActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.FullScreenImageActivity"
            android:theme="@style/Theme.HealthTrackerApp" />
        <activity android:name=".view.activity.TabLayoutActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity
            android:name=".view.activity.AddManualWorkoutLogActivity"
            android:exported="false" />

        <service
            android:name=".service.WorkoutTrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health"
            android:attributionTags="health_tracking" />

        <activity
            android:name=".view.activity.ChatActivity"
            android:exported="false"
            android:label="Health Assistant" />

        <activity android:name=".view.activity.CreateAppointmentActivity"/>
    </application>

</manifest>